
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}
body {
    background: linear-gradient(to bottom right, #f0f0f0, #c0c0c0);
    background-attachment: fixed;
    margin-top: 40px;
   
}
header {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.shareButton {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border:0;
    margin-right: 5vh;
    display: flex;
}

.shareButtonMedia {
    width: 300px;
    background: #f0f0f0;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border:0;
    display: flex;
    justify-content:space-around;
}

.top {
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-img {
    margin-bottom: 3vh;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 50%;
    max-width: 15vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border:0;
}
.social-media{
    background: ;
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.social-button {
    background: ;
    margin: 5px;
    width: 40px;
    height: 40px; 
    transition: transform 0.3s;
}

.social-button:hover{
    transform: scale(1.2);
}

    
}

@media (min-width: 360px){}

